# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/

# Mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.venv/

# Editors
.vscode/
*.swp

# Temporary directories/files
/tmp/
tmp.*

# Dataset directories
/data/PDBBind_processed/
/data/PDBBind_processed_cache/

# Working directory
/workdir/

# Checkpoints
/checkpoints/
